body {
    width: 100% !important;
    background-color: #538ea1a6;
}

footer {
    background-color: #b484a2;
    position: relative;
    padding: 50px;
    bottom: 0;
    width: 100%;
}
.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
    

    .card {
        width: 35%;
        margin: 5px;
        height: 300px;
        .card-body {
            display: flex;
            flex: 1 1;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .cardimg {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }

            .socialimg {
                width: 40px;
                height: 40px;
            }
        }
    }
}

img {
    border-radius: 8px; /* Kerekített sarkok */
}
.header {
    width: 100%;
    background-image: url('fotok/fejlec.jpg'); /* Fejléc háttérkép */
    background-size: cover; /* Kép méretezése */
    background-position: center; /* Kép középre igazítása */
    height: 300px; /* Fejléc magassága */
    display: flex; /* Flexbox elrendezés */
    align-items: center;
    justify-content: center;
    color: white; /* Szöveg színe */
    text-shadow: 1px 1px 2px rgba(14, 2, 48, 0.7); /* Szöveg árnyék */
    font-style: italic;
}

.navbar-container {
    margin-top: 10px;
    width: 100%;
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 32%;
        max-width: 32%;
        word-wrap: break-word;
        overflow: hidden;
        height: 65px !important;
        
    }
}

@media (max-width : 770px) {
    .section-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; /* Képek közötti távolság */
        align-items: center; /* Függőleges középre igazítás */
        /*border: 6px solid #ccc;*/
        img {
            width: 90%;
            margin: 5px;
        }

        p {
            width: 90%;
            margin: 5px;
        }
    }
}

@media (min-width : 771px) {
    .section-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around; /* Képek közötti távolság */
        align-items: center; /* Függőleges középre igazítás */
        padding: 20px;
        /*border: 6px solid #ccc;*/
        img {
            max-width: 30%;
            min-width: 20%;
            height: 400px;
            object-fit: cover;
            margin: 5px;
        }

        p {
            margin: 5px;
        }
    }
}
